<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      APP BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" color="dark">
  <div class="ion-text-center">
    <img src="../../assets/img/01.png" style="width: 50%;">
  </div>
  <ion-card color="success" class="ion-padding">
    <ion-card color="dark">
      <div class="ion-padding">
      <ion-input label="กรอกน้ำหนัก" placeholder="kg"></ion-input>
      <ion-input label="กรอกน้ำหนัก" placeholder="cm"></ion-input>
    </div>
    </ion-card>

  <div class="ion-text-center">
    <ion-button color="light" size="large" expand="block" shape="round" color="warning">
      คำนวน
    </ion-button>
  </div>
</ion-card>

<div class="ion-text-center">
  <ion-button color="light" size="large" expand="block" color="secondary">
    ผลลัพธ์
  </ion-button>
</div>

<div class="ion-text-center">
  <ion-button color="light" size="large" expand="block" color="danger">
    แปรผล
  </ion-button>

</div>

</ion-content>
